<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883724208749-3ogp1rv795vvehr1atkn7jvskkfadnba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883724208749-3ogp1rv795vvehr1atkn7jvskkfadnba</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>883724208749-agtvqi0jfrhv1elgmrfpv9s648t5rv6u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtu4youuVwYosClxo_Fl7CPkTeV0GP39o</string>
	<key>GCM_SENDER_ID</key>
	<string>883724208749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appExcel2</string>
	<key>PROJECT_ID</key>
	<string>excel-app-d793d</string>
	<key>STORAGE_BUCKET</key>
	<string>excel-app-d793d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883724208749:ios:51e7c69e6ba58e372f4d64</string>
</dict>
</plist>